/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    background-color: pink;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: space-between; /* Espaça os itens igualmente */
    gap: 20px; /* Espaçamento entre os itens */
}

/* Estilo do Cabeçalho */
header {
    padding: 20px 0; 
    background-color: #ff7b00de;
}

header > .interface {
    display: flex;
    align-items: center;
}

header a {
    color: rgb(241, 138, 195);
    text-decoration: none;
    transition: 0.2s;
    font-size: 25px;
}

header a:hover {
    color: rgb(231, 46, 148);
    transform: scale(1.20);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 50px;
}

main .contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(255, 110, 26);
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer; 
}

/* Estilo do Topo */
section.topo-do-site {
    padding: 40px;
}

.topo-do-site h1 {
    color: white;
    font-size: 42px;
}

.img-topo-site img {
    max-width: 100%; /* A imagem ocupará 100% do espaço disponível */
    height: auto; /* Mantém a proporção */
    display: block; /* Remove espaço em branco abaixo da imagem */
}
